/* You can add global styles to this file, and also import other style files */
*, *::before, *::after { box-sizing: border-box; margin: 0; }

body { background: #f4f3f2; }

img { max-width: 100%; display: block; }


:root {
  --purple: #00674F;
  --gold: #9a6e2a;
  --muted: #888;
  --green: #005A45;
}